@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Julius+Sans+One&display=swap");

/* VARIABILI GLOBALI */
:root{
  --text: #eaeaea;

  --title-font: "Julius Sans One", system-ui, sans-serif;
  --body-font: "Libre Baskerville", serif;
}

/* RESET BASE */
html, body{
  margin: 0;
  background: #000;
}

/* TESTO GENERALE */
body{
  color: var(--text);
  font-family: var(--body-font);
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: 0.2px;
  background: none;
}

/* TITOLI */
h1,
h2,
h3,
.hero-subtitle,
.saga-subtitle{
  font-family: var(--title-font);
  font-weight: 400;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

/* SFONDO */
body::before{
  content: "";
  position: fixed;
  inset: -30%;

  background-image: url("/assets/sfondo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transform: scale(0.7);
  transform-origin: center;

  z-index: -1;
}
